<a href="#" id="dummy-btn" class="btn btn-lg"><%= t('selectFiles') %></a>
<script type="text/javascript">
$('#dummy-btn').on('click', function(){
  $('#image_picture').click();
});
</script>
<%= form_for(@image, html: { multipart: true }) do |f| %>
  <%= f.file_field :picture, style: "display: none" %>

  <%= f.label :title, class: "input-field" do %>
    <%= t('title') %>
    <%= f.text_field :title %>
  <% end %>

  <%= f.label :caption, class: "input-field" do %>
    <%= t('caption') %>
    <%= f.text_field :caption %>
  <% end %>

  <%= f.submit t('submit'), class: "btn" %>
<% end %>

<!-- ファイルが選択されたら、submit ボタンを有効にする -->
<script type="text/javascript">
$(function(){
  $('input:submit').attr('disabled', true);
  $('input:file').change(
      function(){
        if($(this).val()) {
          $('input:submit').removeAttr('disabled');
          var reader = new FileReader();
          reader.onload = function(){
            var img_src = $('<img>').attr('src', reader.result);
            $('#dummy-btn').empty().prepend(img_src);
          }
          reader.readAsDataURL($(this).prop('files')[0]);
        }
        else {
          $('input:submit').attr('disabled', true);
        }
      });

  $('input:submit').on('click', function() {
    if( $('input:file').val() ) {
      $('#new_image').submit();
      $('input:submit').attr('disabled', true);
    }
  })
});
</script>
